@use '../../../../globalVariables' as *;

#history-sidebar-container {

  #logo-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;

    svg {
      margin-right: 24px;
    }

    #app-title {
      font-family: $title-font-family;
      color: $text;
      font-size: 2.5rem;
      font-weight: 800;
      text-align: center;
    }
  }

  #history-search-section {
    display: flex;
    justify-content: center;

    #searchBar {
      display: flex;
      line-height: 28px;
      align-items: center;
      position: relative;
      width: 90%;

      .search-icon {
        position: absolute;
        top: 0.8rem;
        left: 0.8rem;
        fill: #bdbecb;
        width: 1rem;
        height: 1rem;
        pointer-events: none;
        z-index: 1;
      }

      .search-input {
        width: 100%;
        height: 45px;
        padding-left: 2.5rem;
        box-shadow: 0 0 0 1.5px #2b2c37, 0 0 25px -17px #000;
        border: 0;
        border-radius: 12px;
        background-color: $bg-discreet;
        outline: none;
        color: #bdbecb;
        transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
        cursor: text;
        z-index: 0;
      }

      .search-input::placeholder {
        color: #bdbecb;
      }

      .search-input:hover {
        box-shadow: 0 0 0 2.5px #2f303d, 0 0 25px -15px #000;
      }

      .search-input:active {
        transform: scale(0.95);
      }

      .search-input:focus {
        box-shadow: 0 0 0 2.5px #2f303d;
      }
    }

  }

  #history-list-section {
    margin-top: 1rem;
    overflow-y: auto;

    #history-list-header {
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
      padding: 0 1rem;
      margin-bottom: 0.5rem;
      font-size: 1.2rem;
      font-weight: 600;
      color: $text;

      #options-button {
        float: right;
        background: none;
        border: none;
        cursor: pointer;
        font-size: 1.2rem;

        .option-icon {
          color: $icons;
          width: 1.2rem;
          height: 1.2rem;
        }
      }
    }

    /* Custom scrollbar styles */
    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      background: $bg-discreet;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $border-discreet;
      border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: darken($border-discreet, 10%);
    }
  }
}

