@use '../../globalVariables' as *;
@use 'sass:color';

#connexion-label {
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  color: $text;
}

.auth-form-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  width: 100%;

  .auth-form-fields {
    margin-top: 3rem;
    display: flex;
    justify-content: center;

    #auth-form {
      background-color: $bg-secondary;
      border: 1px solid $border;
      border-radius: $border-radius;
      padding: 2rem;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      width: 100%;
      max-width: 480px;
      max-height: 300px;
      box-shadow: 0 34px 50px -7px rgba(87,68,238,0.5);


      .input-group {
        display: flex;
        position: relative;
        justify-content: flex-start;
        width: 100%;
      }

      .input {
        border: solid 1.5px #9e9e9e;
        border-radius: 1rem;
        background: none;
        padding: 1rem;
        font-size: 1rem;
        color: #f5f5f5;
        transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
        width: 100%;
        box-sizing: border-box;
      }

      .user-label {
        position: absolute;
        left: 1rem;
        color: #e8e8e8;
        pointer-events: none;
        transform: translateY(1rem);
        transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
      }

      .input:focus, .input:valid {
        outline: none;
        border: 1.5px solid #1a73e8;
      }

      .input:focus ~ label, .input:valid ~ label {
        transform: translateY(-50%) scale(0.8);
        background-color: #212121;
        padding: 0 .2em;
        color: #2196f3;
      }

      .auth-form-submit {
        margin-top: 1rem;
        padding: 1rem;
        border: 1px solid transparent;
        box-sizing: border-box;
        border-radius: $border-radius;
        background-color: $bg-secondary;
        color: $text;
        font-family: $main-font-family;
        font-size: 1rem;
        font-weight: bold;
        cursor: pointer;
        transition: border-color 150ms cubic-bezier(0.4, 0, 0.2, 1), background-color 150ms;

        &:hover {
          border: 1px solid $border;
          box-shadow: $border 0 0 10px;
        }
      }
    }
  }

  .auth-form-footer {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }
}
