@use '../../../../globalVariables' as *;

#chat-container {
  display: flex;
  flex-direction: column;
  border-radius: $border-radius;
  margin: 10px;
  height: 100%;
  background-image: linear-gradient(to right top, #1b1a23, #1e1d29, #22202f, #252436, #29273c, #2e2c45, #34304e, #393557, #413d65, #4a4572, #534e81, #5c568f);
}

.chat-section:nth-child(1) {
  height: 10%;
}

.chat-section:nth-child(2) {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 10rem;
}

.chat-section:nth-child(3) {
  height: 10%;
}
