/* global variables */

$primary-color: #1976d2;
$primary-color-gradient: rgba(25, 118, 210, 0.73);
$secondary-color-gradient: #AAAAAAA8;
$secondary-color: #424242;
$background-color: #f5f5f5;
$border-color: #ddd;
$text-color: #333;
$button-color: #983eff;
$button-hover-color: #390b71;

$error-color: #e74c3c;
$success-color: #2ecc71;
$warning-color: #f39c12;
$info-color: #3498db;

$table-font-size: 1rem;
$main-font-family: 'Segoe UI', Arial, sans-serif;
