/* global variables */

$white: #FFFFFF;
$black: #000000;

$primary-color-dark: #5744EE;
$primary-color-light: #5D4BE7;

$grey-light-80: rgba(217, 215, 229, 0.8);
$grey-light-60: rgba(179, 176, 190, 0.6);

$grey-dark-80: rgba(50, 49, 60, 0.8);
$grey-dark-60: rgba(74, 69, 89, 0.6);

$box-shadow-color: #2C2659FF;
$box-shadow: 0 32px 64px -10px $box-shadow-color;

$font-size-small: 12px;
$font-size-base: 14px;
$font-size-large: 16px;

$bg-primary: #18181A;
$bg-secondary: #232227;
$border: #3C3A49;
$border-discreet: #1E1D24;
$bg-discreet: #0C0C0E;
$text-medium: #AEACB7;
$icons: #828189;
$text: #FFFFFF;

$error-color: #e74c3c;
$success-color: #2ecc71;
$warning-color: #f39c12;
$info-color: #3498db;

$title-size: 2.5rem;

$main-font-family: 'Plus Jakarta Sans', sans-serif;
$title-font-family: 'Sen', sans-serif;

$border-radius: 20px;
