@use 'globalVariables' as *;

/* Global Styles */

html {
  background-color: $bg-discreet;
  color: $text-medium;
  font-family: $main-font-family;
  margin: 0;
  padding: 0;
  height: 100vh;
}

body {
  height: 100vh;
  margin: 0;
}

.logo-fill {
  fill: $primary-color-dark;
}

.logo-no-fill {
  border: $primary-color-dark 3px solid;
  border-radius: 80px;
  fill: none;
}

.error-message {}

.success-message {}

.warning-message {}

.info-message {}

