.container {
  height: 98vh;
  display: flex;
}

.solo-item {
  width: 100%;
  height: auto;
}

.item:nth-child(1) {
  width: 15%;
  height: auto;
}

.item:nth-child(2) {
  width: 85%;
  height: auto;
}
